img{
    width:45%;
    border: solid 10px olive; 
    border-radius: 15px;
    margin: 25px 0px;
    padding: 10px

}


nav{
    margin: 50px 0px 0px 0px;
}

nav a{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: #003610;

}



ul{
    display: flex;
    flex-direction: column;
}

button{
    background: rgb(180, 208, 192);
    border-radius: 35px;
    justify-self: center;
    padding: 10px;
    border: rgb(135, 157, 145) solid 1px;
    margin: 20px;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-direction: reverse;  

}

@keyframes animation {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
  }

.buttons{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}

/* div.history img:hover{
    /* background: #FF00FF; */
    /* padding: 30px;
    border: solid 15px yellowgreen;
} */

/* p:nth-child(2) {
    font-weight: bold;
    margin-top: 20px;;
    } */

div:nth-child(even) img
{
    border: dotted 5px brown;


}

img:hover{
    background-color: aqua;
    width: 100%;
    /* height: 100%; */
    transition: width 2s, height 4s;
}


h1{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    
    margin: 30px 0px 0px 0px;
    text-align: center;
}

p.femdict{
    margin-top: 20px;
}

h2{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 40px 0px 0px 0px;
}

h3{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
}

body, dl{
    background: bisque;
    font-family: 'Raleway', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

/* .body-femdict {
    margin-left: -40px;
} */

li{
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.active {
    border: solid 4px #00361078;
    padding: 4px;

}

.skip{
    position: absolute;
    left:-1000px;

}

.skip:focus{
left: 0px;
}

.femdict{
    text-align: center;
}



dl{
    display: grid;
    margin-left: -40px;
}

dt { 
    font-size: 20px;
    font-weight: bold;
}

dd{
    margin-top: 20px;
    font-weight: bold;
}

dd > p {
    margin-top: 10px;
}



dl > div{
    background-image: url("../images/pexels-amanda-george-2978800.png");
    margin: 40px;
    padding: 20px;
    border-radius: 15px;
}

.history > p {
    margin-top: 20px;
    margin-right: 40px;
}

.literature, .history{
    margin: 40px 40px 40px 0;
    padding: 15px;
    background-color: rgb(202 205 175);
    border-radius: 15px;
}

/* div.history > img{
align-self: center;
} */


.literature-grid, .history-grid {
    display: grid;
}
.literature > p {
    margin-top: 20px;
    margin-right: 40px;

}

.literature > h3 {
    margin-top: 20px;
}

footer {
   color:darkgreen;
    margin-top: 100px;
    margin-bottom: 40px;
}

footer a {
    line-height: 40px;
}

footer > p{
    font-weight: 700;
}

.index-img{
    width: 95%;
}

.disclaimer{
    color:darkred;
    margin-top: 40px;
}

.disclaimer p, .disclaimer span{
    font-weight: 700;
}



@media screen and (min-width: 800px){

.nav-row{
    flex-direction: row;
}

dl {
    grid-template-rows: 400px 400px 400px 400px 400px 400px;
}

dl > div {
    overflow:scroll;}


.femdict1 {
    grid-column: 1/2;
}

.femdict2{
    grid-column: 2/3;
}

.literature-grid, .history-grid{
    grid-template-columns: 50% 50%;
}

.indexintro {
    margin: 0 110px 0 100px;
    font-size: 20px;
    margin-top: 40px;
}


.aboutgrid{
    display: grid;
    gap: 50px;
    margin-top: 40px;
}

.about1{
    grid-column: 1/2;
}

.about2{
    grid-column: 2/3;
}

.about3{
    grid-column: 3/4;
}

.about1 p, .about2 p, .about3 p{
    font-size: 20px;
    margin-top: 20px;
}

.disclaimer{
    margin: 75px 100px 0 100px;
    border-top: black solid 2px;
    padding-top: 50px;
}


}

@media screen and (min-width: 1100px){
    dl {
        grid-template-rows: 500px 500px 500px 500px;
    }

    dl > div {
        overflow:scroll;}

        .femdict1{
            grid-column: 1/2;
        }
        
        .femdict2{
            grid-column: 2/3;
        }
        
        .femdict3{
            grid-column: 3/4
        }

        .literature-grid, .history-grid{
            grid-template-columns: 33% 33% 33%;
        }

}

@media screen and (prefers-reduced-motion: reduce){

     /*Turn off transition*/
       img:hover{
        -webkit-transition: initial; /* sets to default setting */
        transition: initial; /* sets to default setting */
      }
}